nav(class="navbar navbar-expand-lg navbar-bg-dark")
    ul.navbar-nav
        li.nav-item
            a.nav-link(href="/product/") Home 
        li.nav-item
            a.nav-link(href="/product/add") Add Product 
        